
# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/

# Azure Functions
local.settings.json
app_data/
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

rel.tex
*.pdf

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
!terraform.tfvars.example
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

