name: Deploy Frontend (Static Web App)

on:
  push:
    branches: [main]
    paths:
      - 'dashboard/**'

jobs:
  build_and_deploy_job:
    runs-on: ubuntu-latest
    name: Build and Deploy Job
    steps:
      - uses: actions/checkout@v4

      - name: Set up Node.js version
        uses: actions/setup-node@v3
        with:
          node-version: '20.x'

      - name: 'Deploy to Azure Web App'
        uses: Azure/webapps-deploy@v2
        with:
          app-name: 'ecofleet' # Update this placeholder or use env var
          publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE }}
          package: './dashboard'

